.rules-container {
  width: 100%;    
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rules-container h3 {
  flex: 0 1 100%;
  color: #448AFF;
  text-align: center;
  margin: 0rem 0rem 1rem;  
}

.rules-container ul {
  flex: 0 1 50%; 
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 1rem;   
}

.rules-container ul li {
  list-style-type: decimal; 
  color: #212529;  
}

.rules-container strong {
  color: rgb(151, 1, 1);
}
