body {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 500px;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: calc(100vh - 64px - 81px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f7cbd2;
}

nav .brand-logo {  
  font-weight: bold;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 0rem 1rem;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #212529;
}

.logo {
  text-align: center;
}

.logo img {
  width: 100px;
  height: 75px;
}

.author {
  margin-left: 3rem;
  text-align: center;
}

.author a {
  color: rgb(151, 1, 1);
  text-decoration: none;
  margin: 0 0.5rem;
}


